@charset "UTF-8";

body {
	font-family	:
		'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
		'Trebuchet MS', Arial, 'ＭＳ Ｐゴシック', sans-serif;
}

div.jqueryCalendar {
	width		: 197px;
}

div.jqueryCalendar a {
	outline		: 0;
	text-decoration	: none;
}

div.jqueryCalendar ul.navi {
	position	: relative;
	width		: 187px;
	height		: 28px;
	margin		: 0;
	padding		: 7px 5px 0;
	background	: url('images/sprites.png') -75px 0 no-repeat;
}

div.jqueryCalendar ul.navi li {
	display		: inline;
	margin		: 0;
	padding		: 0;
	list-style	: none;
}

div.jqueryCalendar ul.navi li a {
	display		: block;
	width		: 22px;
	height		: 13px;
	background	: #FFF;
	text-indent	: -9999px;
	overflow	: hidden;
}

div.jqueryCalendar ul.navi li.prev a {
	float		: left;
	background	: url('images/sprites.png') 0 -25px no-repeat;
}

div.jqueryCalendar ul.navi li.prev a:hover {
	background-position	: 0 -38px;
}

div.jqueryCalendar ul.navi li.next a {
	float		: right;
	background	: url('images/sprites.png') -25px -25px no-repeat;
}

div.jqueryCalendar ul.navi li.next a:hover {
	background-position	: -25px -38px;
}

div.jqueryCalendar div.main {
	padding		: 0 0 5px;
	background	: url('images/sprites.png') -272px 100% no-repeat;
}

div.jqueryCalendar div.caption {
	position	: relative;
	width		: 101px;
	height		: 18px;
	margin		: -30px auto 3px;
	padding		: 2px;
	font-size	: 13px;
	line-height	: 18px;
	text-align	: center;
	vertical-align	: middle;
}

div.jqueryCalendar div.main table {
	position	: relative;
	margin		: 0 auto;
	border-collapse	: collapse;
	border-spacing	: 0;
}

div.jqueryCalendar div.main th,
div.jqueryCalendar div.main td {
	width		: 25px;
	height		: 25px;
	padding		: 0;
	border		: 0;
	border-left	: 2px solid #FCFCFC;
	border-bottom	: 2px solid #FCFCFC;
	color		: #666;
	line-height	: 25px;
	text-align	: center;
	vertical-align	: middle;
}

div.jqueryCalendar div.main th {
	height		: 20px;
	line-height	: 20px;
	font-size	: 12px;
}

div.jqueryCalendar div.main td {
	background	: url('images/sprites.png') 0 0 no-repeat;
	font-size	: 13px;
}

div.jqueryCalendar div.main table .sun {
	color		: #C14F22;
}

div.jqueryCalendar div.main table .sat {
	color		: #33F;
}

div.jqueryCalendar div.main table .otherMonth {
	color		: #CFCFCF;
}

div.jqueryCalendar div.main table .today {
	background	: url('images/sprites.png') -25px 0 no-repeat;
	color		: #FFF;
}

div.jqueryCalendar div.main td.event a,
div.jqueryCalendar div.main td.event span {
	display		: block;
	width		: 25px;
	height		: 25px;
	background	: url('images/sprites.png') -50px 0 no-repeat;
	color		: #FFF;
}

div.jqueryCalendar div.main td.event a:hover {
	background-position	: -50px -25px;
}

div.jqueryCalendar div.todayLink {
	padding		: 3px 0;
	font-size	: 13px;
	text-align	: center;
}
